{
	"printWidth": 120,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"bracketSameLine": true,
	"htmlWhitespaceSensitivity": "ignore",
	"vueIndentScriptAndStyle": true,
	"singleAttributePerLine": true
}
